/* Write your CSS code here */
.list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.coin-cont {
  display: flex;
  flex-direction: row;
}
.value-cont {
  display: flex;
  flex-direction: row;
}
.logo {
  margin: 2px;
  height: 10px;
  width: 10px;
  border-radius: 10px;
}
.value {
  margin: 2px;
  font-size: 12px;
  color: white;
}
